# Base de datos (PostgreSQL en Amazon RDS)
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=gestion_cultivos
POSTGRES_USER=cambiar
POSTGRES_PASSWORD=cambiar

# Seguridad
JWT_SECRET=cambiar
JWT_EXPIRACION_MINUTOS=60

# Servicios externos
OPENWEATHER_API_KEY=cambiar
AWS_REGION=us-east-1
S3_BUCKET_DIAGNOSTICOS=cambiar
